---
import WebContainer from '../layouts/WebContainer.astro';
import TimeLine from '../components/TimeLine.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<head>
	<!-- Global Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<!-- Primary Meta Tags -->
	<title>Johiny Dev</title>
	<meta name="title" content="Johiny Dev" />
	<meta name="description" content="Johiny's Projects Portfolio" />
	<meta name="keywords" content="web, dev, development, javascript, react, astro, css, html, software" />
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<WebContainer>
		<Footer/>
		<Header/>
		<TimeLine/>
</WebContainer>

<script>

</script>