---
import zero from '../media/zero.svg'
import one from '../media/one.svg'
---

<div class="bg-gradient-to-br from-slate-100 to-slate-300 h-screen w-screen relative flex items-center">
    <div class="grid sm:grid-rows-3 grid-cols-5 gap-16 absolute" >
    {[...Array(22).keys()].map(() => {
        return(
        <img src={zero} class="col-span-1 p-10 numbers "/>
        <img src={one} class="col-span-1 p-10 numbers "/>
        )
        })}
    </div>
<slot></slot>
</div>

<style>
    .numbers{
        -webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
    }
@-webkit-keyframes color-change-2x {
  0% {
    filter: invert(70%) sepia(93%) saturate(844%) hue-rotate(135deg) brightness(96%) contrast(91%);
  }
  100% {
    filter: invert(45%) sepia(92%) saturate(6782%) hue-rotate(269deg) brightness(100%) contrast(105%);
  }
}
@keyframes color-change-2x {
  0% {
    filter: invert(70%) sepia(93%) saturate(844%) hue-rotate(135deg) brightness(96%) contrast(91%);
  }
  100% {
    filter: invert(45%) sepia(92%) saturate(6782%) hue-rotate(269deg) brightness(100%) contrast(105%);
  }
}
</style>