---
const {delay} = Astro.props;
const strokeColor = `rgba(194, 231, 217, ${Astro.props.opacity})`
const customClass = `${Astro.props.class} m-0 animate__animated animate__fadeInLeft z-10`
---


<h1 class={customClass}><slot></slot></h1>

<style define:vars={{delay, strokeColor}}>
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    h1{
        font-family: 'Anton', sans-serif;
		font-size: 30vh;
		color: transparent;
        animation-delay: var(--delay);
        -webkit-text-stroke: 2px var(--strokeColor);
        line-height: 110%;
    }
</style>