---

---

    <div class="flex flex-row miniFooter justify-center self-center gap-4 py-5 w-1/3 rounded-t-lg">
        <i class="fa-brands fa-github text-xl lg:text-2xl hover:text-xiketic hover:cursor-pointer"></i>
        <i class="fa-brands fa-linkedin  text-xl lg:text-2xl hover:text-xiketic hover:cursor-pointer"></i>
        <i class="fa-brands fa-twitter  text-xl lg:text-2xl hover:text-xiketic hover:cursor-pointer "></i>
    </div>

<style>
    .miniFooter{
        background-color: #222831;
    }
</style>

<script is:inline src="https://kit.fontawesome.com/e1fe87383c.js" crossorigin="anonymous"></script>