---
---
<div
  class="lg:absolute lg:top-0 lg:right-32 mb-2 lg:mb-0 flex flex-col miniFooter justify-center items-center self-center 
  px-12 py-2 rounded-b-lg z-40 animate__animated animate__fadeInDown animate__delay-1s"
>
  <div class="flex flex-row gap-4">
    <a href="https://github.com/johiny" title="Github Link"
      ><i
        class="fa-brands fa-github text-xl lg:text-2xl dark:hover:text-xiketic hover:text-[#334257] hover:cursor-pointer"
      ></i>
    </a>
    <a href="https://www.linkedin.com/in/johan-sebastian-c-mazo/" title="Linkedin Link"
      ><i
        class="fa-brands fa-linkedin text-xl lg:text-2xl dark:hover:text-xiketic hover:text-[#334257] hover:cursor-pointer"
      ></i>
    </a>
    <a href="https://twitter.com/johinyDev" title="Twitter Link"
      ><i
        class="fa-brands fa-twitter text-xl lg:text-2xl dark:hover:text-xiketic hover:text-[#334257] hover:cursor-pointer"
      ></i>
    </a>
  </div>
  <h6>contact@johiny.dev</h6>
</div>
<style>
  .miniFooter {
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    --footerColor: #222831;
    background-color: var(--footerColor);
  }
  :root[data-theme="light"] .miniFooter {
    --footerColor: #ffffff;
  }
  
  
</style>

<script
  is:inline
  src="https://kit.fontawesome.com/e1fe87383c.js"
  crossorigin="anonymous"
></script>


