---
---
<div
  class="mt-10 bottom-0 flex flex-col miniFooter justify-center items-center self-center w-1/3 pt-2 rounded-t-lg"
>
  <div class="flex flex-row gap-4">
    <a href="https://github.com/johiny"
      ><i
        class="fa-brands fa-github text-xl lg:text-2xl dark:hover:text-xiketic hover:text-[#334257] hover:cursor-pointer"
      ></i>
    </a>
    <a href="https://www.linkedin.com/in/johan-sebastian-c-mazo/"
      ><i
        class="fa-brands fa-linkedin text-xl lg:text-2xl dark:hover:text-xiketic hover:text-[#334257] hover:cursor-pointer"
      ></i>
    </a>
    <a href="https://twitter.com/johinyDev"
      ><i
        class="fa-brands fa-twitter text-xl lg:text-2xl dark:hover:text-xiketic hover:text-[#334257] hover:cursor-pointer"
      ></i>
    </a>
  </div>
  <h6>contact@johiny.dev</h6>
</div>
<style>
  .miniFooter {
    --footerColor: #222831;
    background-color: var(--footerColor);
  }
  :root[data-theme="light"] .miniFooter {
    --footerColor: #fcd8d4;
  }
  .footerhidden {
    opacity: 0;
  }
  
</style>

<script
  is:inline
  src="https://kit.fontawesome.com/e1fe87383c.js"
  crossorigin="anonymous"
></script>


