---
const customClass = `h-20 lg:h-60 self-center rounded-lg line hide`
---

<div class={customClass}>

</div>

<style>
    div{
        z-index: -20;
        border-left: 0.3vh solid rgba(194, 231, 217, 0.6);
    }
    .hide{
        opacity: 0;
    }
</style>