---
---

<div class='h-20 lg:h-60 self-center dark:border-niceGray border-lightBlack rounded-lg line hide'>

</div>

<style>
    div{
        border-left: 0.3vh solid;
    }
    .hide{
        opacity: 0;
    }
</style>