---
import Card from "./Card.astro";
import profileImg from '../media/profile.png'
---

<div class='absolute top-64 z-10 lg:h-80 mx-2 flex flex-col items-center lg:flex-row animate__animated animate__bounceInLeft profileCard' id="profileCard">
        <img src={profileImg} class="p-1 lg:p-5 lg:mt-auto rounded-full w-36 lg:w-72"/>  
    <div class="basis-full flex text-center">
        <h2 id="myDescription" class="self-center p-2 lg:p-5"></h2>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
    h2{
        font-family: 'Source Code Pro', monospace;
        font-weight: 100;
        line-height: 5vh;
        }
    img{
        transform: scaleX(-1);
    }
    .profileCard{
        background-color: rgba(255, 255, 255, 0);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.1);
		animation-delay: 1700ms;
        backdrop-filter: blur(3px);
	}
 
</style>

<script>
import  Typewriter  from "typewriter-effect/dist/core";


const myDescription = document.getElementById('myDescription');

const typewriter = new Typewriter(myDescription, {
  delay: 75,
});

typewriter
    .pauseFor(1700)
    .typeString('I began my journey into coding two years ago, but my fascination with computers dates back to my earliest memories. As a child, one of my top Christmas wishes was for a toy computer. Thanks to this passion, I became an early adopter of the internet and learned many skills that have brought immense joy to my life. I have completed a variety of web projects using my preferred stack, and while I do have a favorite one, I am always open to trying new things and making improvements, just as I would switch out ingredients in a sandwich to make it even tastier.')
    .pauseFor(2000)
    .deleteChars(77)
    .typeString('Embark on a journey with me as we delve into my history!')
    .pauseFor(5000)
    .start()
</script>