---
import Card from "./Card.astro";
import profileImg from '../media/profile.png'
import  Typewriter  from "typewriter-effect/dist/core";
---

<Card class='absolute top-0 h-80 ml-2 mr-2 w-[99%]' layout='flex flex-row' animation='animate__bounceInLeft' delay='1700ms'>
    <div class="basis-1/4 flex">
        <img src={profileImg} class="p-5 mt-auto rounded-full w-72"/>  
    </div>
    <div class="basis-full flex text-center">
        <h2 id="myDescription" class="self-center p-5"></h2>
    </div>
</Card>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
    h2{
        font-family: 'Source Code Pro', monospace;
        font-weight: 100;
        line-height: 5vh;
        }
</style>

<script>
import  Typewriter  from "typewriter-effect/dist/core";


const myDescription = document.getElementById('myDescription');

const typewriter = new Typewriter(myDescription, {
  delay: 75,
});

typewriter
    .pauseFor(1700)
    .typeString('I began my journey into coding two years ago, but my fascination with computers dates back to my earliest memories. As a child, one of my top Christmas wishes was for a toy computer. Thanks to this passion, I became an early adopter of the internet and learned many skills that have brought immense joy to my life. I have completed a variety of web projects using my preferred stack, and while I do have a favorite one, I am always open to trying new things and making improvements, just as I would switch out ingredients in a sandwich to make it even tastier.')
    .pauseFor(2000)
    .deleteChars(77)
    .typeString('Embark on a journey with me as we delve into my history!')
    .pauseFor(5000)
    .start()
</script>