---
import BigTitle from '../components/BigTitle.astro';
---

<div class="absolute h-screen top-16  w-screen">
    <BigTitle  delay={0} opacity={1} text="Hi I'm Johiny"/>
    <BigTitle class=" left-10 lg:left-52" delay={'200ms'} opacity={0.5} text="Hi I'm Johiny"/>
    <BigTitle class='left-14 lg:left-80' delay={'400ms'} opacity={0.2} text="Hi I'm Johiny"/>
</div>