---
import Memorie from '../components/Memorie.astro';
import Line from './Line.astro';
import firstWeb from '../media/first_web.gif'
---

<div class="flex flex-col mt-3">
    <Line height='h-20'/>
    <Memorie text_left="I still remember my first website like it was yesterday. It brings back so many memories from 2010. If I were to look at it now, I would say it looks like a crazy monkey put things here and there, but that's what made it so special to me. I was just a kid at the time, barely knowing any English or much about the web. But I'll never forget the feeling of typing in my first <head> and <body> tags." text_right="My first website may have had a disastrous layout - complete with a buggy, outdated lateral menu and a background featuring my favorite anime series from when I was a kid, but it is still filled with warm, wonderful memories. Despite the broken links and images, and unsightly blue font, I look back on it with fondness. It may not have been the most polished website, but it was mine." title='My First Web' cardImg={firstWeb}/>
    <Line height='h-60'/>
    <Memorie text_left='aldskjfkldajhsinpnadpjanapanp' text_right='asfdkjdjnpnpinjasnpanpas' title='My First Web' cardImg={firstWeb} />
</div>

<script>
    const observer = new IntersectionObserver ((entries) => {
        entries.forEach((entry) => {
           if(entry.isIntersecting){
                if(entry.target.classList.value.includes('left_text')) {
                    entry.target.classList.add('animate__animated', 'animate__fadeInLeft')
                }
                else if (entry.target.classList.value.includes('right_text')){
                    entry.target.classList.add('animate__animated', 'animate__fadeInRight')
                }
                else if (entry.target.classList.value.includes('line')){
                    entry.target.classList.add('animate__animated', 'animate__fadeInDown')
                }
                else{
                    entry.target.classList.add('slideInWithRotation')
                }
           }
           else{
            if(entry.target.classList.value.includes('left_text')) {
                    entry.target.classList.remove('animate__animated', 'animate__fadeInLeft')
                }
                else if (entry.target.classList.value.includes('right_text')){
                    entry.target.classList.remove('animate__animated', 'animate__fadeInRight')
                }
                else{
                    entry.target.classList.remove('slideInWithRotation')
                }
           }
        })
    })
    const hiddenElements = document.querySelectorAll('.hide');
    hiddenElements.forEach((element) => observer.observe(element));
</script>