---
---

<div class="absolute right-10 z-30  p-4">
        <button title="Experimental some things can be broken" class="bg-lightBlue h-8 w-8 absolute bg-opacity-0" id="tranlateButton"/>
        <i class=" z-20 fa-solid fa-language text-xl text-lightBlack dark:text-aeroBlue"></i>
        <div id="google_translate_element"></div>
    </div>
</div>

<style>
    #google_translate_element{
        display: none;
    }
</style>

<script is:inline src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" crossorigin="anonymous"></script>
<script>
    const translateButtons = document.querySelectorAll("#tranlateButton")
    if(translateButtons){
        console.log("hola")
        translateButtons.forEach(translateButton => {
            translateButton.addEventListener('click', () => {
                window.location.href = "https://www-johiny-dev.translate.goog/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=en&_x_tr_pto=wapp"
            })
        })
    }
</script>